.item {
    flex: 0 1 25%;
    padding: 16px;
    display: flex;
    flex-direction: column;
    div:first-child {
        flex: 1;
    }
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 5px;
    }
}